* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.plano_de_fundo {
    width: 100%;
    height: auto;
    background: #DE5D83;
    border: none;
    border-radius: 0;
    margin-top: 0;
    border: 10px solid #E6C7C2;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.dias_31 {
    width: 300px;
    height: 250px;
    background: #FC8EAC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 10px;
    font-size: 22px;
    background-image: url("https://i.pinimg.com/736x/53/bb/36/53bb363ca03be46c19109a80fcdcfe5f.jpg");
    background-size: cover;
    color: honeydew;
}

.dias_30 {
    width: 300px;
    height: 250px;
    background: #FFD1DC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 10px;
    font-size: 22px;
    background-image: url("https://i.pinimg.com/1200x/52/76/c2/5276c221959b97da0b32171088136c4d.jpg");
    background-size: cover;
    color: #FFD1DC;
}

.dias_28 {
    width: 300px;
    height: 250px;
    background: #F4C2C2 ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 10px;
    font-size: 22px;
    background-image: url("https://i.pinimg.com/originals/e2/81/2b/e2812b5ae1d7158e89a5381304886ea6.png");
    background-size: cover;
    color: lightgoldenrodyellow;
}

